<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="../assets/imgs/WatsonLogo.png" width="30" class="d-inline-block align-top" alt="Speech To Text Icon" style="transform: scale(1.7);"> &nbsp; &nbsp;Speech To Text
        - IBM Watson
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://watson-developer-cloud.github.io/doc-tutorial-downloads/speech-to-text/audio-file.flac">Example File</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://cloud.ibm.com/apidocs/speech-to-text" target="_blank">Docs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Maaato/IBM_Watson_SpeechToText" target="_blank">Source&nbsp;<img src="https://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png" width="30" height="30" class="d-inline-block align-top" alt="Github Icon" style="transform: scale(0.8);filter: invert(100%);"></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row text-center">
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><b>Opciones de Archivo</b></div>
                <div class="card-body">
                    <form [formGroup]="speechToTextForm" (ngSubmit)="onSubmit(speechToTextForm.value)">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="formGroupUploadForm">Audio File</label>
                                <input type="file" class="form-control-file" required id="exampleFormControlFile1" (change)="handleFileInput($event.target.files)" accept="audio/mp3,audio/flac,audio/wav">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formGroupSelectIdioma">Idioma</label>
                            <select id="formGroupSelectIdioma" class="custom-select" formControlName="idioma" required>
                              <option value="default" disabled [selected]="true">Seleccionar</option>
                              <option value="es-ES_NarrowbandModel">Español (castellano)</option>
                              <option value="es-CL_NarrowbandModel">Español (chileno)</option>
                              <option value="es-AR_NarrowbandModel">Español (argentino)</option>
                              <option value="es-CO_NarrowbandModel">Español (colombiano)</option>
                              <option value="es-MX_NarrowbandModel">Español (mexicano)</option>
                              <option value="es-PE_NarrowbandModel">Español (peruano)</option>
                              <option value="en-GB_NarrowbandModel">Inglés (Reino Unido)</option>
                              <option value="en-US_NarrowbandModel">Inglés (Estados Unidos)</option>
                              <option value="ar-AR_NarrowbandModel">Árabe</option>
                              <option value="pt-BR_NarrowbandModel">Portugués de Brasil</option>
                              <option value="zh-CN_NarrowbandModel">Chino (mandarín)</option>
                              <option value="fr-FR_NarrowbandModel">Francés</option>
                              <option value="de-DE_NarrowbandModel">Alemán</option>
                              <option value="ja-JP_NarrowbandModel">Japonés</option>
                              <option value="ko-KR_NarrowbandModel">Coreano</option>
                            </select>
                            <small id="formGroupSelectIdioma" class="form-text text-white"><i>Default : Inglés (Estados Unidos)</i></small>
                        </div>
                       <!-- <div class="form-group row">
                            <label for="inputMaxAlternativas" class="col-sm-8 col-form-label">Maximo de Alternativas(1-5):</label>
                            <div class="col-sm-4">
                                <input [min]="1" [max]="5" type="number" id="inputMaxAlternativas" class="form-control col-lg-8" required formControlName="maxAlternativas">
                                <small id="inputMaxAlternativas" class="form-text text-white"><i>Default : 1</i></small>
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [ngModel]="false" class="custom-control-input" id="customCheckTimeStamp" formControlName="timeStamp">
                                <label class="custom-control-label" for="customCheckTimeStamp">Timestamps de Palabras</label>
                            </div>
                        </div>-->
                        <app-loader></app-loader>
                        <button class="btn btn-primary bg-primary" type="submit"><b>Translate!</b></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><b>Resultado</b></div>
                <div class="card-body">
                    <div class="card text-white bg-primary mb-3" *ngFor="let transcript of transcriptAlternatives,index as i">
                        <div class="card-header" *ngIf="i == 0">Translate #{{i + 1}}<i> (Best Translate)</i></div>
                        <div class="card-header" *ngIf="i >= 1">Translate #{{i + 1}}</div>
                        <div class="card-body">
                            <p class="card-text">{{transcript.alternatives[0].transcript}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>